aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach[css]
blinker
box
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
columnar
comm
contourpy
cycler
databricks-sdk
debugpy
decorator
defusedxml
deprecated
docker
ensure
executing
fastjsonschema
flask
flask-cors
fonttools
fqdn
frozenlist
gitdb
gitpython
google-auth
graphene
graphql-core
graphql-relay
greenlet
h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
ipython-pygments-lexers
isoduration
itsdangerous
jedi
jinja2
joblib
json5
jsonpointer
jsonschema[format-nongpl]
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
loguru
mako
markdown
markupsafe
matplotlib
matplotlib-inline
mistune
mlflow
mlflow-skinny
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
propcache
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
python-json-logger
pytz
#pywinpty
pyyaml
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-learn
scipy
send2trash
six
smmap
sniffio
soupsieve
sqlalchemy
sqlparse
stack-data
terminado
threadpoolctl
timeago
tinycss2
toolz
tornado
tqdm
traitlets
types-python-dateutil
types-pyyaml
typing-extensions
tzdata
uri-template
urllib3
waitress
wcwidth
webcolors
webencodings
websocket-client
werkzeug
win32-setctime
wrapt
yarl
zipp
