box==0.1.5
ensure==1.0.4
joblib==1.4.2
mlflow==2.20.3
mlflow_skinny==2.20.3
numpy==2.2.6
pandas==2.2.3
plotly==6.0.1
pytest==8.3.5
python_box==7.3.2
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
setuptools==75.8.0
setuptools==76.0.0
streamlit==1.45.0
xgboost==3.0.1